-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: commodity_data
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `commidity`
--

DROP TABLE IF EXISTS `commidity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commidity` (
  `Date` date DEFAULT NULL,
  `NATURAL GAS` double DEFAULT NULL,
  `GOLD` double DEFAULT NULL,
  `WTI CRUDE` double DEFAULT NULL,
  `BRENT CRUDE` double DEFAULT NULL,
  `SOYBEANS` double DEFAULT NULL,
  `CORN` double DEFAULT NULL,
  `COPPER` double DEFAULT NULL,
  `SILVER` double DEFAULT NULL,
  `LOW SULPHUR GAS OIL` double DEFAULT NULL,
  `LIVE CATTLE` double DEFAULT NULL,
  `SOYBEAN OIL` double DEFAULT NULL,
  `ALUMINIUM` double DEFAULT NULL,
  `SOYBEAN MEAL` double DEFAULT NULL,
  `ZINC` double DEFAULT NULL,
  `ULS DIESEL` double DEFAULT NULL,
  `NICKEL` double DEFAULT NULL,
  `WHEAT` double DEFAULT NULL,
  `SUGAR` double DEFAULT NULL,
  `GASOLINE` double DEFAULT NULL,
  `COFFEE` double DEFAULT NULL,
  `LEAN HOGS` double DEFAULT NULL,
  `HRW WHEAT` double DEFAULT NULL,
  `COTTON` double DEFAULT NULL
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commidity`
--

LOCK TABLES `commidity` WRITE;
/*!40000 ALTER TABLE `commidity` DISABLE KEYS */;
/*!40000 ALTER TABLE `commidity` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-08-05 20:30:50
